@font-face {
    font-family: 'Catamaran-Black';
    src: url('./Catamaran/Catamaran-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Catamaran-Bold';
    src: url('./Catamaran/Catamaran-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Catamaran-ExtraBold';
    src: url('./Catamaran/Catamaran-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Catamaran-ExtraLight';
    src: url('./Catamaran/Catamaran-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Catamaran-Light';
    src: url('./Catamaran/Catamaran-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Catamaran-Medium';
    src: url('./Catamaran/Catamaran-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Catamaran-SemiBold';
    src: url('./Catamaran/Catamaran-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Catamaran-Thin';
    src: url('./Catamaran/Catamaran-Thin.ttf') format('truetype');
}

/* Nunito */
@font-face {
    font-family: 'Nunito';
    src: url('./Nunito/Nunito-Regular.ttf') format('truetype');
}